<nav class="aside bg-light d-flex align-items-start flex-column pt-7 pb-7">

      <a class="ps-5 pb-5" href="index.html"><img src="../assets/images/logo-ANSWER.svg" alt="logo"></a>

      <ul class="nav d-flex flex-column w-100">
        <li class="nav-item mb-5">
          <a class="nav-link ps-4 d-flex align-items-center" href="#">
            <span class="material-icons me-4">insert_chart</span>
            Dashboard
          </a>  
        </li>

        <li class="nav-item mb-5">
          <a class="nav-link ps-4 d-flex align-items-center" href="#">
            <span class="material-icons me-4">question_answer</span>
            Question
          </a>
        </li>

        <li class="nav-item mb-5">
          <a class="nav-link ps-4 d-flex align-items-center" href="index.html">
            <span class="material-icons me-4">assignment</span>
            Assignment
          </a>
        </li>

        <li class="nav-item mb-5">
          <a class="nav-link ps-4 d-flex align-items-center" href="#">
            <span class="material-icons me-4">video_library</span>
            Course
          </a>
        </li>

        <li class="nav-item mb-5">
          <a class="nav-link ps-4 d-flex align-items-center" href="admin.html">
            <span class="material-icons me-4">group</span>
            Admin
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link ps-4 d-flex align-items-center" href="#">
            <span class="material-icons me-4">settings</span>
            Settings
          </a>
        </li>
      </ul>

    <div class="mt-auto d-flex ps-5">
      <img src="../assets/images/andychen.jpeg" alt="andychen" class="portrait rounded-circle me-4">
      <div class="d-flex flex-column">
        <h3 class="fs-6 fw-bold">Andy Chen</h3>
        <a href="mailto:andy0401@mail.com" class="fs-7 link-secondary">andy0401@mail.com</a>
      </div>
    </div>
    
  </nav>